.top{
	/*better color*/
	background-color:rgb(49,102,154);
	height: 100px;
	/*gets the phone in the right place*/
	padding: 100px;
	
.info{
	float: right;
	display: inline-block;
	padding: 100px 30px 0px 40px;
	clear: both;
}

footer {
	float: right;
	display: inline-block;
}
div {
	float:right;
}
.phone {
	display: relative;
	margin: 100px;
}