.top{
	/*better color*/
	background-color:rgb(49,102,154);
	height: 100px;
	/*gets the phone in the right place*/
	padding: 100px;
}
.main{
	float: right;
	display: inline-block;
	clear: both;
	width: 400px;
	margin-right: 100px;
}

footer {
	display: block;
}
div {
	float:right;
}
.phone {
	display: relative;
	margin: 100px;
}